# Previsão de Valor de Venda de Veículos
Análise de Dados Para Traçar Estratégias de Crescimento e Retenção da Base de Clientes

## Contexto: 
Imagine uma empresa de compra e venda de carros usados. A empresa gostaria de criar um modelo preditivo capaz de prever o preço de venda de um veículo a partir de dados do modelo do veículo, a kilometragem e a idade (tempo de uso). 

Aplicaremos One-Hot-Encoding e Label Encoding,vamos comparar o resultado de ambas as transformações e então fazer a nossa escolha final sobre qual técnica de encoding deve ser usada para este projeto.

## Problema de Negócio:

O objetivo é fornecer uma avaliação mais precisa para o cliente e faz parte da estratégia da empresa para aumentar a retenção da base atual de clientes.

In [1]:
# Imports
import pandas as pd
import numpy as np
from sklearn import linear_model
import warnings
warnings.filterwarnings("ignore")

## Carregando os Dados

In [2]:
# Carrega os dados
dados = pd.read_csv('dados/dataset.csv')

In [3]:
# Shape
dados.shape

(13, 4)

In [4]:
# Visualiza os dados
dados

                      Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0            Jaguar F-Type R         69000        18000              6
1            Jaguar F-Type R         35000        34000              3
2            Jaguar F-Type R         57000        26100              5
3            Jaguar F-Type R         22500        40000              2
4            Jaguar F-Type R         46000        31500              4
5             Mustang Mach 1         59000        29400              5
6             Mustang Mach 1         52000        32000              5
7             Mustang Mach 1         72000        19300              6
8             Mustang Mach 1         91000        12000              8
9   Mercedez Benz AMG GLE 53         67000        22000              6
10  Mercedez Benz AMG GLE 53         83000        20000              7
11  Mercedez Benz AMG GLE 53         79000        21000              7
12  Mercedez Benz AMG GLE 53         59000        33000              5

In [5]:
# Tipos de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Modelo         13 non-null     object
 1   Kilometragem   13 non-null     int64
 2   Preco_Venda    13 non-null     int64
 3   Idade_Veiculo  13 non-null     int64
dtypes: int64(3), object(1)
memory usage: 544.0+ bytes

> Pergunta: Para a variável categórica (object) no dataset, qual técnica de encoding devemos aplicar? Justifique sua resposta.

## Aplicando One-Hot-Encoding

In [7]:
# Obtém variáveis dummy
df_dummies = pd.get_dummies(dados['Modelo'])

In [8]:
df_dummies

    Jaguar F-Type R  Mercedez Benz AMG GLE 53  Mustang Mach 1
0                 1                         0               0
1                 1                         0               0
2                 1                         0               0
3                 1                         0               0
4                 1                         0               0
5                 0                         0               1
6                 0                         0               1
7                 0                         0               1
8                 0                         0               1
9                 0                         1               0
10                0                         1               0
11                0                         1               0
12                0                         1               0

In [9]:
# Concatenamos os dataframes
df = pd.concat([dados, df_dummies], axis = 'columns')

In [10]:
df

,Modelo,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,Jaguar F-Type R,69000,18000,6,1,0,0
1,Jaguar F-Type R,35000,34000,3,1,0,0
2,Jaguar F-Type R,57000,26100,5,1,0,0
3,Jaguar F-Type R,22500,40000,2,1,0,0
4,Jaguar F-Type R,46000,31500,4,1,0,0
5,Mustang Mach 1,59000,29400,5,0,0,1
6,Mustang Mach 1,52000,32000,5,0,0,1
7,Mustang Mach 1,72000,19300,6,0,0,1
8,Mustang Mach 1,91000,12000,8,0,0,1
9,Mercedez Benz AMG GLE 53,67000,22000,6,0,1,0
10,Mercedez Benz AMG GLE 53,83000,20000,7,0,1,0
11,Mercedez Benz AMG GLE 53,79000,21000,7,0,1,0
12,Mercedez Benz AMG GLE 53,59000,33000,5,0,1,0

In [12]:
new_df = df.drop(['Modelo'], axis=1)

In [18]:
new_df

,Kilometragem,Preco_Venda,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,18000,6,1,0,0
1,35000,34000,3,1,0,0
2,57000,26100,5,1,0,0
3,22500,40000,2,1,0,0
4,46000,31500,4,1,0,0
5,59000,29400,5,0,0,1
6,52000,32000,5,0,0,1
7,72000,19300,6,0,0,1
8,91000,12000,8,0,0,1
9,67000,22000,6,0,1,0
10,83000,20000,7,0,1,0
11,79000,21000,7,0,1,0
12,59000,33000,5,0,1,0

In [20]:
# Definindo os valores de X
x = new_df.drop('Preco_Venda', axis = 1)
x

,Kilometragem,Idade_Veiculo,Jaguar F-Type R,Mercedez Benz AMG GLE 53,Mustang Mach 1
0,69000,6,1,0,0
1,35000,3,1,0,0
2,57000,5,1,0,0
3,22500,2,1,0,0
4,46000,4,1,0,0
5,59000,5,0,0,1
6,52000,5,0,0,1
7,72000,6,0,0,1
8,91000,8,0,0,1
9,67000,6,0,1,0
10,83000,7,0,1,0
11,79000,7,0,1,0
12,59000,5,0,1,0

In [23]:
# Definindo os valores de Y
y = new_df['Preco_Venda']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

In [24]:
# Criando modelo Preditivo
modelo_v1 = linear_model.LinearRegression()

In [25]:
# Treinando o modelo
modelo_v1.fit(x,y)

LinearRegression()

In [26]:
# Previsões do modelo
modelo_v1.predict(x)

array([18705.2723644 , 35286.78445645, 24479.19112468, 41245.76426391,
       29882.98779056, 28023.6135243 , 30614.46818502, 21879.57266964,
       12182.34562104, 26183.72387884, 18929.31674102, 20409.80511857,
       30477.15426156])

In [27]:
# Uma previsão
modelo_v1.predict([[7000,4,0,0,1]])

array([48602.41606011])

In [28]:
# Uma previsão
modelo_v1.predict([[45000,4,0,1,0]])

array([36991.31721061])

In [29]:
# Uma previsão
modelo_v1.predict([[86000,7,1,0,0]])

array([11080.74313219])

In [30]:
# Acurácia do modelo
modelo_v1.score(x,y)

0.9417050937281082

## Aplicando Label Encoding

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
# Cópia do dataframe original
df_car = dados

In [33]:
le = LabelEncoder()

In [34]:
# Aplica o Encoder
df_car['Modelo'] = le.fit_transform(df_car['Modelo'])

In [36]:
df_car

    Modelo  Kilometragem  Preco_Venda  Idade_Veiculo
0        0         69000        18000              6
1        0         35000        34000              3
2        0         57000        26100              5
3        0         22500        40000              2
4        0         46000        31500              4
5        2         59000        29400              5
6        2         52000        32000              5
7        2         72000        19300              6
8        2         91000        12000              8
9        1         67000        22000              6
10       1         83000        20000              7
11       1         79000        21000              7
12       1         59000        33000              5

In [37]:
# Definindo os valores de X
x = df_car[['Modelo', 'Kilometragem', 'Idade_Veiculo']].values
x

array([[    0, 69000,     6],
       [    0, 35000,     3],
       [    0, 57000,     5],
       [    0, 22500,     2],
       [    0, 46000,     4],
       [    2, 59000,     5],
       [    2, 52000,     5],
       [    2, 72000,     6],
       [    2, 91000,     8],
       [    1, 67000,     6],
       [    1, 83000,     7],
       [    1, 79000,     7],
       [    1, 59000,     5]], dtype=int64)

In [40]:
x.ndim

2

In [39]:
# Definindo o valores de Y
y = df_car['Preco_Venda']
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Preco_Venda, dtype: int64

In [42]:
y.ndim

1

In [43]:
# Criando a versão 2 do modelo
modelo_v2 = linear_model.LinearRegression()

In [44]:
# Treinando o modelo
modelo_v2.fit(x,y)

LinearRegression()

In [45]:
# Previsões
modelo_v2.predict(x)

array([21097.26799326, 35669.46519981, 26161.25131906, 40888.38671831,
       30915.35825943, 28747.22473471, 30916.35943266, 23373.3650235 ,
       14794.78029901, 23319.88385735, 17016.39498987, 18255.90053156,
       27144.36164147])

In [46]:
# Calcula a acurácia
modelo_v2.score(x,y)

0.8803425650559955

### Salvando o Modelo Treinado

In [55]:
# Importando joblib
import joblib

# Dump do modelo
joblib.dump(modelo_v1,'modelo/modelo_treinado.pkl')

['modelo/modelo_treinado.pkl']

## Conclusão

Para este conjunto de dados a técnica de One-Hot-Encoding mostrou ser a mais efetiva e deveria ser usada no processamento dos dados para modelagem preditiva.